
.dd {

  &__trigger {

  }

  &__options[aria-hidden="true"] {
    display: none;
  }

  &__options {
    max-height: 50px;
    overflow: auto;
  }

  /* single option */
  &__option{
    &[data-selected="true"]{
      display: none;
    }
  }

}